@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/PTS75F-webfont.eot');
  src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F-webfont.woff') format('woff'), url('../fonts/PTS75F-webfont.ttf') format('truetype'), url('../fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('../fonts/PTS76F-webfont.eot');
  src: url('../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F-webfont.woff') format('woff'), url('../fonts/PTS76F-webfont.ttf') format('truetype'), url('../fonts/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sansitalic';
  src: url('../fonts/PTS56F-webfont.eot');
  src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F-webfont.woff') format('woff'), url('../fonts/PTS56F-webfont.ttf') format('truetype'), url('../fonts/PTS56F-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_captionbold';
  src: url('../fonts/PTC75F-webfont.eot');
  src: url('../fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTC75F-webfont.woff') format('woff'), url('../fonts/PTC75F-webfont.ttf') format('truetype'), url('../fonts/PTC75F-webfont.svg#pt_sans_captionbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_captionregular';
  src: url('../fonts/PTC55F-webfont.eot');
  src: url('../fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTC55F-webfont.woff') format('woff'), url('../fonts/PTC55F-webfont.ttf') format('truetype'), url('../fonts/PTC55F-webfont.svg#pt_sans_captionregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_narrowbold';
  src: url('../fonts/PTN77F-webfont.eot');
  src: url('../fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN77F-webfont.woff') format('woff'), url('../fonts/PTN77F-webfont.ttf') format('truetype'), url('../fonts/PTN77F-webfont.svg#pt_sans_narrowbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_narrowregular';
  src: url('../fonts/PTN57F-webfont.eot');
  src: url('../fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTN57F-webfont.woff') format('woff'), url('../fonts/PTN57F-webfont.ttf') format('truetype'), url('../fonts/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
html,
body {
  overflow-x: hidden;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
.main-headr {
  width: 100%;
}
.featured-headr {
  position: relative;
  height: 711px;
  padding-top: 30px;
  overflow: hidden;
  background: #fcdb00;
}
.navbar {
  width: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.navbar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.navbar li {
  float: left;
  position: relative;
  margin: 0px 34px;
}
.navbar li:last-child {
  margin: 0px 0px 0px 34px;
}
.navbar li a {
  float: left;
  display: inline-block;
  font-family: 'pt_sansbold';
  font-size: 22px;
  color: #010101;
  line-height: 26px;
  text-decoration: none;
  margin: 0px;
  padding: 15px 0px;
}
.navbar li a:hover {
  color: #010101;
}
.navbar .navbar-logo {
  float: left;
  display: inline-block;
  text-decoration: none;
  margin: 0px;
  padding: 15px 0px 15px 54px;
  background: url('../../images/tinyone-brand.png') left center no-repeat;
  background-size: auto;
}
.navbar .navbar-logo span {
  font-family: 'pt_sansbold';
  font-size: 30px;
  color: #010101;
  line-height: 24px;
}
.navbar .navbar-btn {
  float: right;
  display: none;
  font-size: 30px;
  font-weight: 100;
  color: #010101;
  line-height: 26px;
  cursor: pointer;
  padding: 15px 0px;
}
.navbar .navbar-btn-close {
  display: none;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  top: 0px;
  right: 0px;
  padding: 15px;
}
.navbar .navbar-btn-close:after {
  display: inline-block;
  content: '\2715';
}
.navbar .navbar-nav-right {
  float: right;
}
.navbar .navbar-nav-social {
  display: none;
  text-align: center;
  margin: 30px 0px;
}
.navbar .navbar-nav-social span {
  display: inline-block;
  font-size: 22px;
}
.navbar .navbar-nav-social span,
.navbar .navbar-nav-social span:last-child,
.navbar .navbar-nav-social span:first-child {
  margin: 0px;
}
.navbar .navbar-nav-social a,
.navbar .navbar-nav-social a:hover {
  display: inline-block;
  color: #010101;
  text-decoration: none;
}
.navbar-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-bottom: 1px solid #efefef;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.075);
  background: #ffffff;
}
.showcase {
  text-align: left;
  max-width: 1170px;
  height: 570px;
  margin: 0px auto;
  overflow: hidden;
}
.showcase .showcase-wrap {
  height: inherit;
  overflow: hidden;
}
.showcase .showcase-content {
  width: 100%;
  height: auto;
  padding: 52px 0px;
}
.showcase .showcase-content .showcase-figure {
  float: right;
  display: inline-block;
  width: 27%;
}
.showcase .showcase-caption {
  margin: 6% 64% 6% 0;
}
.showcase .showcase-caption h2 {
  font-family: 'pt_sansbold';
  font-weight: 100;
}
.showcase .showcase-caption h3 {
  font-family: 'pt_sansregular';
  font-weight: 100;
}
.showcase .showcase-caption h2,
.showcase .showcase-caption h3 {
  margin: 0px 0px 15px 0px;
}
.showcase .showcase-caption p {
  font-family: 'pt_sansregular';
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}
.showcase .showcase-caption p:last-child {
  margin: 0px;
}
.showcase .showcase-caption .showcase-btn-download {
  float: left;
  display: inline-block;
  margin: 48px 42px 48px 0px;
}
.showcase .showcase-caption .showcase-btn-download:last-child {
  margin: 48px 0px 48px 0px;
}
.showcase .showcase-caption .showcase-btn-download a {
  font-family: inherit;
  display: block;
  font-size: 100%;
  color: #010101;
}
.showcase .showcase-caption .showcase-btn-apple a {
  width: 33px;
  height: 39px;
  background: url('../../images/icon-fa-apple.png') center center no-repeat;
}
.showcase .showcase-caption .showcase-btn-android a {
  width: 33px;
  height: 39px;
  background: url('../../images/icon-fa-android.png') center center no-repeat;
}
.showcase .showcase-caption .showcase-btn-windows a {
  width: 39px;
  height: 40px;
  background: url('../../images/icon-fa-windows.png') center center no-repeat;
}
.showcase .showcase-caption .showcase-btn-apple a:after,
.showcase .showcase-caption .showcase-btn-android a:after,
.showcase .showcase-caption .showcase-btn-windows a:after {
  content: '';
}
.showcase .showcase-dots {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 52px 0px;
}
.showcase .showcase-dots ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.showcase .showcase-dots ul li {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 0px 4px;
  border-radius: 60px;
  opacity: 0.6;
  background: #ffffff;
}
.showcase .showcase-dots .on {
  opacity: 1;
}
.showcase .showcase-arrows {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 52px 0px;
}
.showcase .showcase-arrows ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.showcase .showcase-arrows ul li {
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  margin: 0px 10px;
  padding: 10px;
  background: #010101;
}
.container {
  width: 1170px;
  margin: 0px auto;
}
.content {
  padding: 84px 0px;
}
.featured-block {
  margin: 0px 0px 42px 0px;
}
.featured-block h2 {
  font-family: 'pt_sansbold';
  font-weight: 100;
  margin: 0px 0px 15px 0px;
}
.featured-block h4 {
  font-family: 'pt_sansregular';
  font-weight: 100;
}
.featured-block h2,
.featured-block h4 {
  text-align: center;
}
.featured-group {
  margin: 0px 0px 10px 0px;
}
.featured-group:last-child {
  margin: 0px;
}
.featured-column {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 32.26%;
  margin: 1% 1.6% 1% 0;
  padding: 30px 0px;
}
.featured-column:nth-child(3n+3) {
  margin: 1% 0 1% 0;
}
.featured-column h3,
.featured-column p {
  font-family: 'pt_sansregular';
  font-weight: 100;
  margin: 0px 0px 20px 72px;
}
.featured-column p {
  font-size: 16px;
  color: #898989;
}
.featured-column p:last-child {
  margin: 0px 0px 0px 72px;
}
.featured-column .featured-icon {
  float: left;
  display: block;
  font-size: 100%;
}
.featured-column .featured-fa-tablet {
  width: 33px;
  height: 40px;
  background: url('../../images/icon-fa-tablet.png') center center no-repeat;
}
.featured-column .featured-fa-lemon-o {
  width: 43px;
  height: 44px;
  background: url('../../images/icon-fa-lemon-o.png') center center no-repeat;
}
.featured-column .featured-fa-folder-o {
  width: 47px;
  height: 40px;
  background: url('../../images/icon-fa-folder-o.png') center center no-repeat;
}
.featured-column .featured-fa-code {
  width: 52px;
  height: 39px;
  background: url('../../images/icon-fa-code.png') center center no-repeat;
}
.featured-column .featured-fa-email-o {
  width: 51px;
  height: 40px;
  background: url('../../images/icon-fa-email-o.png') center center no-repeat;
}
.featured-column .featured-fa-bookmark-o {
  width: 36px;
  height: 43px;
  background: url('../../images/icon-fa-bookmark-o.png') center center no-repeat;
}
.featured-column .featured-fa-tablet:after,
.featured-column .featured-fa-lemon-o:after,
.featured-column .featured-fa-folder-o:after,
.featured-column .featured-fa-code:after,
.featured-column .featured-fa-email-o:after,
.featured-column .featured-fa-bookmark-o:after {
  content: '';
}
.footer {
  width: 100%;
  background: #010101;
  padding: 84px 0px;
}
.footer .subscribe {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.footer .subscribe h2 {
  font-family: 'pt_sansbold';
  font-weight: 100;
  color: #fcdb00;
}
.footer .subscribe h4 {
  font-family: 'pt_sansregular';
  font-weight: 100;
  color: #898989;
}
.footer .subscribe h2,
.footer .subscribe h4 {
  margin: 0px 0px 15px 0px;
}
.footer .subscribe .subscribe-group {
  margin: 42px 0px 0px 0px;
}
.footer .subscribe .subscribe-input-outer {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 83.06%;
  margin: 0 1.6% 0 0;
}
.footer .subscribe .input-control,
.footer .subscribe .btn-submit {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
  border: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer .subscribe .input-control {
  font-family: 'pt_sansregular';
  width: 100%;
  outline: none;
  padding: 15px 20px;
  background: #ffffff;
}
.footer .subscribe .btn-submit {
  float: right;
  font-family: 'pt_sansbold';
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  width: 15.33%;
  padding: 15px 30px;
  background: #fcdb00;
}
.footer .social-connect {
  display: block;
  text-align: center;
  padding: 54px 0px;
}
.footer .social-connect .social-connect-icon {
  display: inline-block;
  margin: 0px 20px;
}
.footer .social-connect .social-connect-icon:first-child {
  margin: 0px 20px 0px 0px;
}
.footer .social-connect .social-connect-icon:last-child {
  margin: 0px 0px 0px 20px;
}
.footer .social-connect .social-connect-icon a {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.footer .social-connect .social-facebook-icon a {
  background: url('../../images/icon-social-facebook.png') center center no-repeat;
}
.footer .social-connect .social-twitter-icon a {
  background: url('../../images/icon-social-twitter.png') center center no-repeat;
}
.footer .social-connect .social-google-plus-icon a {
  background: url('../../images/icon-social-google-plus.png') center center no-repeat;
}
.footer .social-connect .social-pinterest-icon a {
  background: url('../../images/icon-social-pinterest.png') center center no-repeat;
}
.footer .sitemap {
  margin-top: 64px;
}
.footer .sitemap p,
.footer .sitemap a {
  font-family: 'pt_sansregular';
  font-size: 16px;
  color: #ffffff;
}
.footer .sitemap a {
  text-decoration: none;
}
.footer .sitemap a:hover {
  color: #fcdb00;
}
.footer .sitemap .sitemap-contact-column,
.footer .sitemap .sitemap-list-column {
  float: left;
  display: inline-block;
  display: inline;
  zoom: 1;
  margin: 0 1.6% 0 0;
}
.footer .sitemap .sitemap-contact-column {
  width: 32.26%;
}
.footer .sitemap .sitemap-list-column {
  width: 15.33%;
  list-style: none;
}
.footer .sitemap .sitemap-list-column:last-child {
  margin: 0;
}
.footer .sitemap li a {
  font-family: 'pt_sansregular';
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  .featured-headr {
    height: auto;
    padding-top: 26px;
  }
  .navbar li,
  .navbar li:last-child {
    float: none;
    margin: 0px;
  }
  .navbar li a {
    float: none;
    display: block;
    font-family: 'pt_sansregular';
    font-size: 22px;
    color: #ffffff;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 15px 30px;
  }
  .navbar li a:hover {
    color: #fcdb00;
  }
  .navbar .navbar-btn,
  .navbar .navbar-btn-close {
    display: inline-block;
    font-size: 32px;
  }
  .navbar .navbar-btn-close {
    margin: 19px 30px 0px 0px;
  }
  .navbar .navbar-nav-right {
    float: none;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 82px 0px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk/AkAAQEA/NgQM1QAAAAASUVORK5CYII=);
  }
  .navbar .navbar-logo {
    background-size: auto;
  }
  .navbar .navbar-btn {
    display: inline-block;
  }
  .navbar .navbar-nav-right {
    float: right;
    display: none;
  }
  .navbar .navbar-nav-social {
    display: block;
    margin: 30px 0px;
  }
  .navbar .navbar-nav-social span {
    font-size: 32px;
    margin: 0px 15px;
  }
  .navbar .navbar-nav-social span:last-child {
    margin: 0px 0px 0px 15px;
  }
  .navbar .navbar-nav-social span:first-child {
    margin: 0px 15px 0px 0px;
  }
  .navbar .navbar-nav-social a {
    color: #ffffff;
  }
  .navbar .navbar-nav-social a:hover {
    color: #fcdb00;
  }
  .showcase {
    width: auto;
    height: auto;
    margin: 0px 44px;
  }
  .showcase .showcase-caption {
    margin: 0 40% 0 0;
  }
  .showcase .showcase-caption p {
    font-size: 16px;
  }
  .showcase .showcase-caption .showcase-btn-download {
    font-size: 38px;
    margin: 25px 42px 25px 0px;
  }
  .showcase .showcase-caption .showcase-btn-download:last-child {
    margin: 25px 0px 25px 0px;
  }
  .showcase .showcase-caption .showcase-btn-apple a,
  .showcase .showcase-caption .showcase-btn-android a,
  .showcase .showcase-caption .showcase-btn-windows a {
    width: auto;
    height: auto;
    background: none;
  }
  .showcase .showcase-caption .showcase-btn-apple a:after {
    content: '\f179';
  }
  .showcase .showcase-caption .showcase-btn-android a:after {
    content: '\f17b';
  }
  .showcase .showcase-caption .showcase-btn-windows a:after {
    content: '\f17a';
  }
  .showcase .showcase-dots {
    padding: 0px 0px 30px 0px;
  }
  .showcase .showcase-dots ul li {
    width: 10px;
    height: 10px;
  }
  .container {
    width: auto;
    margin: 0px 44px;
  }
  .featured-column {
    width: 49.2%;
  }
  .featured-column:nth-child(2n+2) {
    margin: 1% 0 1% 0;
  }
  .featured-column h3,
  .featured-column p {
    margin: 0px 0px 20px 64px;
  }
  .featured-column p:last-child {
    margin: 0px 0px 0px 64px;
  }
  .featured-column .featured-icon {
    font-size: 46px;
  }
  .featured-column .featured-fa-tablet,
  .featured-column .featured-fa-lemon-o,
  .featured-column .featured-fa-folder-o,
  .featured-column .featured-fa-code,
  .featured-column .featured-fa-email-o,
  .featured-column .featured-fa-bookmark-o {
    width: auto;
    height: auto;
    background: none;
  }
  .featured-column .featured-fa-tablet:after {
    content: '\f10a';
  }
  .featured-column .featured-fa-lemon-o:after {
    content: '\f094';
  }
  .featured-column .featured-fa-folder-o:after {
    content: '\f114';
  }
  .featured-column .featured-fa-code:after {
    content: '\f121';
  }
  .featured-column .featured-fa-email-o:after {
    content: '\f003';
  }
  .featured-column .featured-fa-bookmark-o:after {
    content: '\f097';
  }
  .footer .social-connect {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  .featured-headr {
    height: auto;
    padding-top: 5px;
  }
  .navbar li,
  .navbar li:last-child {
    float: none;
    margin: 0px;
  }
  .navbar li a {
    float: none;
    display: block;
    font-family: 'pt_sansregular';
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 5px 15px;
  }
  .navbar li a:hover {
    color: #fcdb00;
  }
  .navbar .navbar-logo {
    padding: 15px 0px 15px 45px;
    background-size: 35px;
  }
  .navbar .navbar-logo span {
    font-size: 26px;
    line-height: 26px;
  }
  .navbar .navbar-btn,
  .navbar .navbar-btn-close {
    display: inline-block;
    font-size: 26px;
  }
  .navbar .navbar-btn-close {
    margin: 0px;
  }
  .navbar .navbar-nav-right {
    float: none;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding: 64px 0px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk/AkAAQEA/NgQM1QAAAAASUVORK5CYII=);
  }
  .navbar .navbar-nav-social {
    display: block;
    margin: 15px 0px;
  }
  .navbar .navbar-nav-social span {
    font-size: 26px;
    margin: 0px 10px;
  }
  .navbar .navbar-nav-social span:last-child {
    margin: 0px 0px 0px 10px;
  }
  .navbar .navbar-nav-social span:first-child {
    margin: 0px 10px 0px 0px;
  }
  .navbar .navbar-nav-social a {
    color: #ffffff;
  }
  .navbar .navbar-nav-social a:hover {
    color: #fcdb00;
  }
  .showcase {
    text-align: center;
    width: auto;
    height: auto;
    margin: 0px 15px;
  }
  .showcase .showcase-content {
    padding: 10px 0px 52px 0px;
  }
  .showcase .showcase-content .showcase-figure {
    float: none;
    width: 27%;
  }
  .showcase .showcase-caption {
    margin: 5% 0 0 0;
  }
  .showcase .showcase-caption p {
    font-size: 14px;
  }
  .showcase .showcase-caption .showcase-btn-download {
    float: none;
    font-size: 26px;
    margin: 15px 25px 15px 0px;
  }
  .showcase .showcase-caption .showcase-btn-download:last-child {
    margin: 15px 0px 15px 0px;
  }
  .showcase .showcase-caption .showcase-btn-apple a,
  .showcase .showcase-caption .showcase-btn-android a,
  .showcase .showcase-caption .showcase-btn-windows a {
    width: auto;
    height: auto;
    background: none;
  }
  .showcase .showcase-caption .showcase-btn-apple a:after {
    content: '\f179';
  }
  .showcase .showcase-caption .showcase-btn-android a:after {
    content: '\f17b';
  }
  .showcase .showcase-caption .showcase-btn-windows a:after {
    content: '\f17a';
  }
  .showcase .showcase-dots {
    padding: 30px 0px;
  }
  .showcase .showcase-dots ul li {
    width: 8px;
    height: 8px;
  }
  .container {
    width: auto;
    margin: 0px 15px;
  }
  .content {
    padding: 44px 0px;
  }
  .featured-block {
    margin: 0px 0px 15px 0px;
  }
  .featured-block h2 {
    margin: 0px 0px 10px 0px;
  }
  .featured-column,
  .featured-column:nth-child(2n+2) {
    text-align: center;
    width: 100%;
    margin: 1% 0 1% 0;
    padding: 15px 0px;
  }
  .featured-column p {
    font-size: 14px;
  }
  .featured-column p:last-child {
    margin: 0px;
  }
  .featured-column h3,
  .featured-column p,
  .featured-column .featured-icon {
    margin: 0px 0px 15px 0px;
  }
  .featured-column .featured-icon {
    float: none;
    font-size: 40px;
  }
  .featured-column .featured-fa-tablet,
  .featured-column .featured-fa-lemon-o,
  .featured-column .featured-fa-folder-o,
  .featured-column .featured-fa-code,
  .featured-column .featured-fa-email-o,
  .featured-column .featured-fa-bookmark-o {
    width: auto;
    height: auto;
    background: none;
  }
  .featured-column .featured-fa-tablet:after {
    content: '\f10a';
  }
  .featured-column .featured-fa-lemon-o:after {
    content: '\f094';
  }
  .featured-column .featured-fa-folder-o:after {
    content: '\f114';
  }
  .featured-column .featured-fa-code:after {
    content: '\f121';
  }
  .featured-column .featured-fa-email-o:after {
    content: '\f003';
  }
  .featured-column .featured-fa-bookmark-o:after {
    content: '\f097';
  }
  .footer {
    padding: 44px 0px 32px 0px;
  }
  .footer .subscribe .subscribe-input-outer {
    width: 66.13%;
  }
  .footer .subscribe .input-control,
  .footer .subscribe .btn-submit {
    font-size: 14px;
  }
  .footer .subscribe .btn-submit {
    width: 32.26%;
  }
  .footer .subscribe .btn-submit,
  .footer .subscribe .input-control {
    padding: 6px 12px;
  }
  .footer .social-connect {
    display: none;
  }
  .footer .sitemap {
    margin-top: 44px;
  }
  .footer .sitemap p,
  .footer .sitemap a {
    font-family: 'pt_sansregular';
    font-size: 14px;
    color: #ffffff;
  }
  .footer .sitemap a {
    text-decoration: none;
  }
  .footer .sitemap .sitemap-contact-column,
  .footer .sitemap .sitemap-list-column {
    float: left;
    display: inline-block;
    display: inline;
    zoom: 1;
    margin: 0 1.6% 0 0;
  }
  .footer .sitemap .sitemap-contact-column {
    text-align: center;
    width: 100%;
    margin: 0px 0px 15px 0px;
  }
  .footer .sitemap .sitemap-list-column {
    text-align: center;
    width: 49.2%;
    margin-bottom: 15px;
    list-style: none;
  }
  .footer .sitemap .sitemap-list-column:nth-child(2n+1) {
    margin: 0px 0px 15px 0px;
  }
  .footer .sitemap li a {
    font-size: 14px;
  }
}
